@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


title{
    font-family: 'Rubik', sans-serif;
}
body{
   margin: 0 auto;
   font-family: 'Rubik', sans-serif;
}
p{
    font-size: 1.5em;
}

footer{
    background-image: linear-gradient(to bottom left,#E11D48,#2563EB);
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
  }

a:link{
    text-decoration: none;
    color: white;
}

  



.name{
    margin: auto auto auto 1%;
    align-items: flex-end;
}

.topnav
{
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.8em;
    height:5em;
    z-index: 1;
    background-image: linear-gradient(to bottom left,#E11D48,#2563EB);
    display: flex;
}
.navbar{
    display: flex;
    margin-right: 10%;
    align-items: flex-end;
    font-size:1.5em;
    
}

.navbar ul{
    list-style-type: none;
    display: flex;
    padding: 0 0 0 0;
    
}

.navbar ul li{
    padding: 0 5.5% 0 0;
}

.navbar ul li:hover {
    font-size: 103%;
    font-weight: bolder;
}




.block{
    margin-top:6em;
}

.pic {
    width: 100%;
    height: auto;
    position: relative;
  text-align: center;
  color: white;
  }

 .nam{
    color: #FFE4E6;
    text-shadow: 2px 2px 8px #2563EB;
 } 

.description{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DBEAFE;
  font-size: 2em;
  padding: 4%;
  text-shadow: 2px 2px 8px #E11D48;
}

.technology{
    background-color: #FFE4E6;
    padding: 3.5%;
    margin: auto;
    
}

.tech{
    /* text-align: center; */
    width: 40%;
    margin: auto;
}

.projects{
    padding: 3.5%;
    margin: auto;
}

.proj{
    width: 40%;
    margin: auto;
}

.proj a{
    background-color: #111;
    padding: 3% 7%;
    margin: 15% 0;
    border-radius: 3.5em;
    font-size: 70%;
}
.proj a:hover{
    font-weight: bold;
}


.education{
    background-color: #DBEAFE;
    padding: 3.5%;
    margin: auto;
   
}

.edu{
    width: 40%;
    margin: auto;
}

.foot{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 0;
    padding: 0.5em;
}
.foot a{
    padding: 2%;
}

.foot a:hover {
    font-size: 103%;
    font-weight: bolder;
  }


